body {
  background-color: rgba(66, 171, 171, 0.454);
  color: rgb(0 101 189);
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 40px;
  font-size: x-large;
  font-family: 'Mochiy Pop P One', sans-serif; 
}

.instructions {
  margin-top: 10px;
}
.instructions input {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-large;
}
.instructions input[type=text] {
  margin-top: 10px;
  font-size: x-large;
  background-color:rgb(255 255 255 / 69%);
  border: none;
  padding: 20px 5px 5px 10px;
  width: 100%;
  color: rgb(0, 33, 62);
}

input:focus { 
  outline: none !important;
  /* border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE; */
}
.instructions input[type=submit] {
  font-family: 'Mochiy Pop P One', sans-serif;   
}


.center {
  display: flex;
  font-size: x-large;
  flex-wrap:wrap;
  margin-top: 20px;
}

.center #sentence {
  font-size: x-large;
  border: none;
  width: 600px;
  padding-top: 30px;
}

.splitflap {
  position: relative;
  min-width: 50px;
  height: 50px;
  margin: 1px;
  line-height: 50px;
  font-size: 48px;
  font-family: Monospace;
  text-align: center;
  color: white;
}

.top {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #3BB6EB;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  z-index: 0;
}

div {
  perspective: 100px;
}

.bottom {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: -50%;
  border-radius: 10px 10px 10px 10px;
  z-index: -1;
  background-color: black;
  background-image: linear-gradient(rgba(59, 182, 235, 0), #3BB6EB);
  transform-origin: center;
}

.nextHalf {
  position: relative;
  height: 50%;
  width: 100%;
  margin-top: -100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  z-index: 2;
  background-color: black;
  background-image: linear-gradient(#3BB6EB, rgba(59, 182, 235, 0));
  transform-origin: bottom;
}

.nextFull {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #3BB6EB;
  margin-top: -50%;
  border-radius: 10px 10px 10px 10px;
  z-index: -3;
}

.flip1 {
  animation: flip1 ease-in 1;
  animation-duration: 1s;
}

.flip2 {
  animation: flip2 ease-out 1;
  animation-duration: 1s;
}

@keyframes flip1 {
  0% {
    transform: rotateX(0deg);
    background-color: #3BB6EB;
  }
  50% {
    transform: rotateX(90deg);
    background-color: black;
  }
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes flip2 {
  0% {
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
    background-color: #3BB6EB;
  }
}